
    <div class="container">
    	<div class="row">
         <div id="user-session-table" class="col-md-12"> 
           <%= render partial: "shared/duser_metric_table" %> 
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row" >
            <div id="user-session-chart"  class="col-md-12">
           <%= render partial: "chart" %> 
            </div>
      </div>
    </div> 
