
{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js.erb",
      "options": { "parser": "babel" }
    },
    {
      "files": "*.html.erb",
      "options": { "parser": "html" }
    }
  ]
}