
    <%= render partial: "shared/navbar_default" %>
        <div class="row">
          <div class="col-md-12">
             <div class="jumbotron" >
                 <div class="container">
                  <h1>Capture <span class="em-text">Life</span></h1>
                  <p>An easy way to capture & share your vital numbers</p>
                  <h2>Welcome#greeting</h2>
                  <p>Find me in app/views/welcome/greeting.html.erb</p>

                  <%= image_tag "chart_bg2.png", class: "showcase-img" %> 
                 </div>          
             </div>
       </div>

      </div>
