
	
<div class="container">
	<div class="row">
		<div class="col-md-6">
				<h1>Capture <span class="em-text">Life</span></h1>
				<p>An easy way to capture & share your vital numbers</p>
				<h2>Welcome#greeting</h2>
				<p>Find me in app/views/welcome/greeting.html.erb</p>
		</div>
		<div class="col-md-6">
				<%= image_tag "chart_bg2.png", class: "chart-img" %> 
		</div>
	</div>           
</div>           
