
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Back to MyLife BioCharting</title>
  </head>

  <body>
    <%= render partial: "shared/navbar_default" %>
    <div class="container">
    	<div class="row" >
      		<div class="col-md-12">
	      		<!-- placeholder until actual chart data is included -->
	             <%= image_tag "chart_bg2.png", class: "chart-img" %> 
	  <!--

  -->       
      		</div>
        </div>
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12"> 
    		<h2>Welcome#home</h2>
            <p>Find me in app/views/welcome/home.html.erb</p>
      		</div>
        </div>
    </div>

 </body>

</html>