// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody, td, th {
	padding: 3px;
}

a {
  color: #009900;
  &:visited {
    color: #006666;
  }
  &:hover {
    color: #996633;
    background-color: #fff;
  }
}
