// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron{
	background: image-url("../images/elaine_thomas_1.png") top center;
	width: 100%;
	color:#fff;
	height:500px;
	overflow:none;
}
.jumbotron p {
	color: #000;
}

.jumbotron_in_session {
	width: 100%;
}

.jumbotron_in_session h2 p {
	width: 50%;
	margin-left: 50%;
	opacity: 0.5;
}
.chart-img {
	width: 90%;
	height: 90%;
	opacity: 0.5;
	border-style: solid;
	border-width: 10px;
	border-color: #000;
}
.auth_message {
//display: flex;
//align-items: flex-end;
//margin-left: 70%;

}
