<%#= chartSeries = local_assigns.fetch(:chartSeries) %>

<%# Rails.logger.info ("chart_info values:  #{chartSeries.show_result}") %>
<%if defined?(chartSeries) and !chartSeries.nil? %>

<% pearson_r = "not set" %>
<% 
case  chartSeries.pearson_r.to_f.abs 
when  0.0..0.3
	pearson_r = "weak"
when  0.3.. 0.5
	pearson_r = "moderate"
when  0.5..1.0
	pearson_r = "strong"
end
%>

	<h5>
		Based on the pearson r value, there appears to be a <%= "#{pearson_r}"%> relationship between these two variables.
	</h5>
	<p>
		Keep in mind that even if a correlation is statistically significant, it does not imply causation. It only indicates that there is a relationship between the variables. Establishing causation requires additional evidence and study design.
	</p>
	<br><br>
	<h3> The regression line variables:  <%=chartSeries.show_result%> </h3>
<%else%>
	<%if defined? chart_active and chart_active %>
	<h2> 
		Sorry.  Something went wrong and we can't interpret the data. If the problem persists, please contact  whodabudda@gmail.com. 
	</h2>
	<%end%>
<%end%>
<% if false %>
<%end%>
